<div class="flex w-full h-[150px] justify-between">
  <%= link_to "Home", root_path  %>
  <%= link_to "Scoreboard", games_path  %>
  <%= link_to "New Game", new_game_path  %>
  <%= link_to "Log In", new_user_session_path  %>
</div>
